

/* parent of nav bar */

.nav-Bar{
   background-color: blueviolet;
   display: flex;
   margin: 40px;
   border-radius: 20px;
}

.nav-Bar h1{
    padding-left: 30px;
}


.nav-Bar-Links-Config{
    text-align: right;
    width: 70%;
}

.nav-Bar-Links{
    justify-content: space-between;
    margin-left: 80px;
}

body{
    margin: 0;
}


main a{
    cursor: pointer;
}

