

/* parent of nav bar */

.nav-Bar{

    display: flex;
   justify-content: center;
   margin: 40px;
   border-radius: 20px;

}

.nav-Bar h1{
    padding-left: 0;
    text-align: center;
}






body{
    margin: 0;
    min-height: 100vh;
    background-image: url(img/backgrpund-Complemetn-APp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


main a{
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20vh;
}

.compliment-Section{
    background-color: #8b5cf6;
    height: 200px;
    width: 600px;
    max-width: 90%;
    margin: 0;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}


.compliment-Section p{
    color: aliceblue;
    font-size: xx-large;
    text-align: center;
    margin: 0;

}

main button{
    margin: 20px 0 0;
    width: 400px;
    max-width: 80%;
    height: 100px;
    background-color: #f472b6;
    color: #4a2148;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;


}


@media (max-width: 600px){
    .nav-Bar{
        margin: 20px;
    }

    .nav-Bar h1{
        font-size: x-large;
    }

    main{
        padding-top: 10vh;
    }

    .compliment-Section{
        width: 90%;
        min-height: 180px;
        height: auto;
        padding: 20px;
        box-sizing: border-box;
    }

    .compliment-Section p{
        font-size: x-large;
    }

    main button{
        width: 80%;
        height: 80px;
        font-size: large;
    }
}
