

/* parent of nav bar */

.nav-Bar{

    display: flex;
   justify-content: center;
   margin: 40px;
   border-radius: 20px;

}

.nav-Bar h1{
    padding-left: 0;
    text-align: center;
}






body{
    margin: 0;
    background-image: url(img/backgrpund-Complemetn-APp.png);
    background-repeat: no-repeat;
    background-size: cover;

}


main a{
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20vh;
}

.compliment-Section{
    background-color: #8b5cf6;
    height: 200px;
    width: 600px;
    max-width: 90%;
    margin: 0;
    border-radius: 20px;

}


.compliment-Section p{
    color: aliceblue;
    font-size: xx-large;
    text-align: center;
    padding-top: 10%;

}

main button{
    margin: 20px 0 0;
    width: 400px;
    max-width: 80%;
    height: 100px;
    background-color: #f472b6;
    color: #4a2148;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    font-size: x-large;
    font-family: fantasy;

}
